<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.UserMapper">
    <resultMap id="userMap" type="com.learn.beans.User">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <insert id="insert" parameterType="com.learn.beans.User" keyProperty="id" useGeneratedKeys="true">
        insert `user` (
               `name`,
               `age`,
               `address`,
               `phone`
               )
        VALUES(
               #{name},
               #{age},
               #{address},
               #{phone}
               )
    </insert>

    <select id="listAll" resultMap="userMap">
        select
               `id`,
               `name`,
               `age`,
               `address`,
               `phone`
        from   `user`
    </select>

    <update id="updateById" parameterType="com.learn.beans.User">
        update `user`
        set `name`
    </update>
</mapper>